<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newegg Prices</title>
</head>
<body>
    <h1>Newegg Product Search</h1>
    <form method="post">
        <label for="search_term">Enter a product to search for:</label>
        <input type="text" id="search_term" name="search_term" required>
        <button type="submit">Search</button>
    </form>

    {% if sorted_items %}
    <h2>Search Results:</h2>
    <ul>
        {% for item, data in sorted_items %}
        <li>{{ item }}</li>
        <li>${{ data.price }}</li>
        <li><a href="{{ data.link }}">{{ data.link }}</a></li>

        {% endfor %}
    </ul>
    {% endif %}
    
    
</body>
</html>